/* ABOUT PAGE */

.text-container-about {
    width: 100%;
    margin: 0 auto;
}

.text-container-about h1 {
    margin: 10px auto 0 auto;
}

.img-container-about {
    width: 95%;
    margin-top: 20px;
}

.img-about-profile {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-image: url('/assets/img/slika-bnw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px darkred outset;
    margin: 0 auto;
}

:host {
    display: block;
}