<div class="container about">
    <div class="row">
        <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-12 col-xs-12">
            <div class="img-container-about">
                <div class="img-about-profile">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
            <div class="text-container-about">
                <h1>Hello!</h1>
                <p>My name is Jovan and I am the founder of Yobudesign</p>
                <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides,
                    I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
            </div>
        </div>
    </div>
</div>