<div class="container home">

    <h3>If you want me to work on your project, got some suggestions about my previous work, or ideas for future projects, or just want to chat, feel free to contact me through the form below.</h3>
    <h3>hunting partner!</h3>
    <div class="container-50">
        <form action="https://formspree.io/vladanation@gmail.com" method="POST" id="contact-form-client">
            <div class="form-group">
                <input type="name" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Full name" autocomplete='name'>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="_replyto" autocomplete='email'>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" id="inputMessage" rows="5" placeholder="Message"></textarea>
            </div>
            <input id="email-submit-btn" type="submit" value="Send" class="btn btn-primary button-success">
        </form>

    </div>

</div>