.container-50 {
    width: 50%;
    margin: 100px auto 0 auto;
}

.container.home {
    padding: 50px 0;
}

.form {
    color: black;
}

label {
    color: white;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin: 6px auto 16px auto;
}

input[type=submit] {
    background-color: white;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
}

input[type=text]:focus,
select:focus,
textarea:focus,
#message:focus,
input[type=tel]:focus,
input[type=message]:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 2px 2px 2px 2px red;
}

.form-control:focus {
    outline: none !important;
    border: 1px solid red;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(255, 0, 0, 0.75);
    background-color: white;
}

.button-success {
    background-color: red;
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* IE6-9 */
    border-color: red;
    border: none;
}

.button-success:hover {
    background-color: darkred;
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 30%, #8f0222 61%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 30%, #8f0222 61%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 30%, #8f0222 61%, #6d0019 100%);
    /* IE6-9 */
    border: none;
}

:host {
    display: block;
}