<!--The content below is only a placeholder and can be replaced.-->
<div class="neon-glow-green neon-center">
    <a>
        <p>YOBU&nbsp;&nbsp;^<br> &nbsp;DESIGN
        </p>
    </a>
</div>

<div class="container-fluid container-reset menu mobile" ng-sticky [offSet]=" 0 " [addClass]="'is-sticky'">
    <nav class="navbar navbar-inverse border-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button " class="navbar-toggle collapsed" data-target="#myNavbar" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
          </button>
                <a class="navbar-brand neon-glow-red-active" href="" routerLink="home" routerLinkActive="active">
                    <p>YOBU&nbsp;&nbsp;^<br> &nbsp;DESIGN
                    </p>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" [collapse]="isCollapsed">
                <ul class="nav navbar-nav nav-top">
                    <li>
                        <a target="_self" href="" routerLink="about" routerLinkActive="active">
                            <div class="cube">
                                <div class="front glow">About</div>
                                <div class="side glow">About</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="" routerLink="galleries" routerLinkActive="active">
                            <div class="cube">
                                <div class="front glow">gallery</div>
                                <div class="side glow">gallery</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="" routerLink="whyus" routerLinkActive="active">
                            <div class="cube">
                                <div class="front glow">Why us?</div>
                                <div class="side glow">Why us?</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="" routerLink="contact" routerLinkActive="active">
                            <div class="cube">
                                <div class="front glow">Contact</div>
                                <div class="side glow">Contact</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="main" [@animRoutes]="getPage(appOutlet)">
    <router-outlet #appOutlet="outlet"></router-outlet>
</div>



<hr>
<div class="container socials">
    <h2>If you just want to say "Hi ", or you have a project that you would like to get me involved in, please don't be shy and contact me at:
    </h2>
    <div class="row">
        <div class="col-lg-12 col-xs-12 social-bottom">
            <ul class="no-padding">
                <li class="contactme neon-glow-red">
                    <a href="mailto:yobudesign@gmail.com" target="_top">
                        <i class="fa fa-envelope-o fa-3x line-height" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="contactme neon-glow-red">
                    <a href="facebook.com/yobudesign" target="_top">
                        <i class="fa fa-facebook fa-3x line-height" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="contactme neon-glow-red deviant-margin">
                    <a href="twitter.com/yobudesign" target="_top">
                        <i class="fa fa-deviantart fa-3x " aria-hidden="true"></i>
                    </a>
                </li>
                <li class="contactme neon-glow-red">
                    <a href="dribble.com/yobudesign" target="_top">
                        <i class="fa fa-dribbble fa-3x line-height" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="contactme neon-glow-red">
                    <a href="flickr.com/yobudesign" target="_top">
                        <i class="fa fa-flickr fa-3x line-height" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="container-fluid footer">
    <footer>
        <div class="arrow-up">
            <p>&copy; YoBuDesign 2017</p>
            <p>Website created by<br> Vladimir Cordas</p>
        </div>
    </footer>
</div>